.formWrapper {
  background-image: url("../../assets/Backgrounds/backgroundForm.jpg");
  background-size: cover;
  display: flex;
  position: fixed;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-shadow: 1px 1px black;
}

.formSheet {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 25px;
}
