/* Boton */

.searchBar button {
  float: right;
  padding: 5px 0 5px 0;
  margin: 10px 10px 10px 0;
  align-content: center;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  vertical-align: middle;
  cursor: pointer;
  color: black;
  /* background-color: white; */
  background: #fff;
}
.searchBar button:hover {
  background-color: #8bc34a;
}

/* Input */

.searchBar input {
  width: 250px;
  padding: 5px;
  margin: 10px;
  height: 32px;
  border: none;
  float: right;
  border-radius: 30px;
  font-size: 17px;
  color: black;
  background-color: white;
}
